<div class="container">
    <div class="container col-md-8">
        <h1> Exercise index</h1>
        <ul class="list-unstyled">
            <li ng-repeat="exercise in ctrl.exercises">
                <a href "" ui-sref="exercise({ id: exercise.id})" class="btn btn-secondary">{{exercise.name}}</a>
                <button type="button" class="close pull-left" aria-hidden="true"   ng-really-message="Are you sure you want to delete this?" ng-really-click="">×</button>
                <!--ng-really-message="Are you sure"? ng-really-click="takeAction()" -->
            </li>
        </ul>


    </div>
    <div ui-view></div>
</div>
