<div class="container">
    <div class="col-md-9">
        <h2>{{ctrl.exercise.name}} <a ui-sref="exercise.edit" class="btn" aria-hidden="true">&#9986;</a></h2>
        <progress-bar current-value='ctrl.exercise.weight' desired-value='ctrl.exercise.goal'></progress-bar>
        <table style="width:100%">
            <tr>
                <th>Category</th>
                <th>Weight (lbs)</th>
                <th>Reps</th>
                <th>Goal Weight (lbs)</th>
            </tr>
            <tr>
                <td>{{ctrl.exercise.category.title}}</td>
                <td>{{ctrl.exercise.weight}}</td>
                <td>{{ctrl.exercise.reps}}</td>
                <td>{{ctrl.exercise.goal}}</td>
            </tr>
        </table>

    </div>

    <div class="col-md-3">
      <div class="show-view-container">
        <div class="show-ui-view" ui-view></div>
      </div>
    </div>
</div>
