<div class="col-md-4 ">
    <h2>Edit This Exercise</h2>
    <form name="form" ng-submit="ctrl.update()">
        <input placeholder="ctrl.exercise.name" ng-model="ctrl.exercise.name" required="required" />
        <input type="number" placeholder="Weight" ng-model="ctrl.exercise.weight" required="required" />
        <input type="number" placeholder="Reps" ng-model="ctrl.exercise.reps" required="required" />
        <input  ng-model="ctrl.exercise.category" placeholder="Category" required="required" />
        <input type="submit" class="btn btn-default">
    </form>
</div>
