<div class="col-md-4 ">
    <h2>New Exercise</h2> {{ctrl.newExercise}}
    <form name="form" ng-submit="ctrl.create()">
        <input name="name" placeholder="Name" ng-model="ctrl.newExercise.name" required="required" />
        <input type="number" placeholder="Weight" ng-model="ctrl.newExercise.weight" />
        <input type="number" placeholder="Reps" ng-model="ctrl.newExercise.reps" />
        <input name="category" placeholder="Category" ng-model="ctrl.newExercise.category" required="required" />

        <input type="submit" value="submit">

        <div ng-if="form.name.$touched && form.name.$error.required">
            The name of the new exercise is required!
        </div>
        <div ng-if="form.category.$touched && form.category.$error.required">
            Must provide the category!
        </div>
    </form>

</div>
